<appSettings>
	<add key="PrivateKeyStoragePath" value="C:\inetpub\wwwroot\erp\elm\portalcfd\llave\" />
	<add key="CertificatesStoragePath" value="C:\inetpub\wwwroot\erp\elm\portalcfd\certificados\" />
	<add key="informacionaduanera" value="0" />
	<add key="retencion4" value="0" />
	<add key="divisas" value="1" />
	<add key="proveedores" value="1" />
	<add key="inventarios" value="1" />
	<add key="usuarios" value="1" />
	<add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
	<add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
	<add key="SIFEIUsuario" value="MUMR6604247X9" />
	<add key="SIFEIContrasena" value="650976ba" />
	<add key="SIFEIIdEquipo" value="ZDZmMzVlZjgtOWNlYi0xNjE3LWY3ZGUtNTJkODQ1MjIyMWFi" />
	<add key="email_pedidos" value="administracion@s7.com" />
</appSettings>